@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Arvo&display=swap');
body {
  margin: 0;
  font-family: "Arvo" !important;
  /* font-weight: 700 !important; */
}

header {
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

nav a {
  color: #555 !important;
}

.card-text {
  max-height: 75px; 
  overflow: hidden;
  text-overflow: ellipsis !important;
}

#main-container {
  background-color: #dff !important;
  display: grid;
}
#search-button {
  border-radius: 0px 10px 10px 0px;
}

#search-button:hover {
  color: white;
  background-color: #0dcaf0 !important;
}
#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30% !important;
}
#nav-route:hover {
  color: #0dcaf0 !important;
}

.title-font {
  font-size: 80px;
  font-family: "Alfa Slab One";
  color: #333;
}

@media (max-width: 767.98px) {
  .card {
    display: block;
    width: 100% !important;
  }
  
  #cards-container {
    margin: 0% !important;
    padding: 0% !important;
  }
}

@media (max-width: 991.98px) {
  .card {
    width: 45% !important;
  }
}


.category-badge {
  background-color: #e7fff1 !important;
  color: #0ce466 !important;
  border: 1px #0ce466 solid !important;
}  

.category-badge:hover {
  cursor: pointer !important;
  background-color: #ffe7ec !important;
  color: #e40c42 !important;
  border-color: #e40c42 !important; 
}

.remove-src {
  cursor: pointer !important;
  background-color: #ffe7ec !important;
  color: #e40c42 !important;
  border-color: #e40c42 !important; 
}

#confirmPosition:hover {
  background-color: #e7fff1;
  color: #0ce466;
  border-color: #0ce466; 
}

#addCategory:hover {
  background-color: #e7fff1;
  color: #0ce466;
  border-color: #0ce466; 
}

#addImage:hover {
  background-color: #e7fff1;
  color: #0ce466;
  border-color: #0ce466; 
}

#addResource:hover {
  background-color: #e7fff1;
  color: #0ce466;
  border-color: #0ce466; 
}

.carousel-item>img {
  object-fit: cover; 
}

.addedImage {
  display: block !important;
  margin-left: auto !important; 
  margin-right: auto !important;
  border-radius: 20px !important;
  width: 50% !important; 
  height: 50% !important; 
}

.removeImageBtn {
  margin-left: auto !important; 
  margin-right: auto !important;
  background-color: #ffe7ec !important;
  color: #e40c42 !important;
  border-color: #e40c42 !important; 
}

#map {
  width: 100%; 
  height: 500px
}

#registerBtn {
  text-decoration: none; 
  color: white !important;
}

#submitButton {
  background-color: #e7fff1 !important;
  color: #0ce466 !important;
  border: 1px #0ce466 solid !important;
}

#categoryErr , #emptyErr, #shortErr, #imagesErr , #resourcesErr{
  display: none;
}  

.card a {
  text-decoration: none;
  color: #0ce466;  
}

#resources-div a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75%;
}